@charset "UTF-8";
@font-face {
    font-family: 'Young serif';
    src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: 'Outfit';
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*COLORS*/
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-50: hsl(330, 100%, 98%);
    --rose-800: hsl(332, 51%, 32%);

    /*TYPOGRAPHY*/
    --body-copy-font-size: 16px;
    --young-serif: 'Young serif';
    --outfit: 'Outfit'
}

body {
    font-family: var(--outfit);
    color: var(--stone-600);
}

p {
    /*margin-top: 30px;*/
    margin-top: 10px;
    font-size: var(--body-copy-font-size);
    line-height: 1.5em;
}

header {
    height: 170px;
    background-image: url('..//images/image-omelette.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

main {
    margin: 0 auto;
    padding: 0 2em;
    min-width: 375;
}

main h1 {
    margin-bottom: 20px;
    font-family: var(--young-serif);
    font-size: 2em;
    line-height: 1em;
    color: var(--stone-900);
}

section {
    margin: 30px auto;
}

section ul, section ol {
    margin-left: 25px;
}

section ul li p, section ol li p{
    margin-top: 10px;
    margin-left: 10px;
}

section ol li::marker{
    color: var(--brown-800);
    font-weight: bold;
}

section h2 {
    font-family: var(--young-serif);
    color: var(--brown-800);
}

section.time {
    padding: 25px;
    padding-right: 26px;
    background-color: var(--rose-50);
}

section.time > h2 {
    color: var(--rose-800);
}

section.time ul li {
    margin-left: 30px;
    margin: 0 30px;
}

section.time ul li p {
    margin-left: 10px;
    margin-top: 10px;
}

section div.nutrition {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 20px;
    justify-content: center;
}

section div.nutrition hr {
    grid-column: 1/3;
    margin: 0;
}

section div.nutrition strong {
    color: var(--brown-800);
}

hr {
    margin-top: 30px;
    border: 1px solid var(--stone-100);
}

.attribution { 
    font-size: 11px; text-align: center;
    margin-bottom: 30px;
}
.attribution a { 
    color: var(--brown-800);
    text-decoration: none;
}