@import "tailwindcss";

body {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    background-image: url('/pattern-squiggly-line-bottom-mobile-tablet.svg'), url('/pattern-squiggly-line-top.svg'), url('/background-mobile.png');
    background-size: 60%, 30%, cover;
    background-repeat: no-repeat;
    background-position: left bottom, right top;
}

@media (width >= 48rem) {
    body {
        background-image: url('/pattern-squiggly-line-bottom-desktop.svg'),url('/pattern-squiggly-line-top.svg'), url('/background-tablet.png');
        background-size: 50%, 30%, cover;
        background-position: left bottom, right top;
    }
}

@media (width >= 990px) {
    body {
        background-image:url('/pattern-squiggly-line-bottom-desktop.svg'), url('/pattern-squiggly-line-top.svg'), url('/background-desktop.png');
        background-size: 50%, 30%, cover;
    }
}