@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
    /**********/
    /* Colors */
    /**********/

    /* Primary */
    --Blue-500: hsl(215, 51%, 70%);
    --Cyan-400: hsl(178, 100%, 50%);

    /* Neutral */
    --Blue-950-main-BG: hsl(217, 54%, 11%);
    --Blue-900-card-BG: hsl(216, 50%, 16%);
    --Blue-800-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    
    /**************/
    /* Typography */
    /**************/

    /* Body Copy */
    --Font-size-paragraph: 18px;
    
    /* Font */
    --Font-Family: "Outfit", sans-serif;
    --Weight-300: 300;
    --Weight-400: 400;
    --Weight-600: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-height: 100%;
}

p {
    font-size: var(--Font-size-paragraph);
}

body {
    font-family: var(--Font-Family);
    background-color: var(--Blue-950-main-BG);
}

.card {
    position: relative;
    background-color: var(--Blue-900-card-BG);
    max-width: 350px;
    margin: 3rem auto;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto;
    padding: 1.5rem;
    border-radius: 1rem;
    color: var(--White);
}

.card > .banner > img {
    width: 100%;
    border-radius: 1rem;
}

.card > .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card > .content > h1 {
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card > .content > h1:hover {
    color: var(--Cyan-400);
    cursor: pointer;
}

.card > .content > h1:hover::before {
    content: '';;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: calc(100% - 3rem);
    height: 302px;
    border-radius: 1rem;
    background-color: hsla(178, 100%, 50%, 0.363);
}

.card > .content > h1:hover::after {
    content: url(../images/icon-view.svg);
    position: absolute;
    top: calc(302px/2);
    left: calc(302px/2);
    width: calc(100% - 3rem);
    height: 302px;
    opacity: 0.5;
}

.card > .content > p {
    color: var(--Blue-500);
}

.card > .content > .stats {
    display: flex;
    justify-content: space-between;
}

.card > .content > .stats > span {
    display: flex;
    gap: 0.5rem;
}

.card > .content > .stats > span:nth-child(1) {
    color: var(--Cyan-400);
}

.card > .content > .stats > span:nth-child(2) {
    color: var(--Blue-500);
}

.card > .content > hr {
    border-color: var(--Blue-800-line);
    border-block-start: 0;
    border-block-end: 1;
}

.card > .content > .creator {
    display: flex;
    align-items: center;
    gap: 0.5rem;    
}

.card > .content > .creator > img {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--White);
    border-radius: 50%;
}

.card > .content > .creator > span {
    color: var(--Blue-500);
}

.card > .content > .creator > span > strong {
    color: var(--White);
    font-weight: var(--Weight-300);
}