@charset "UTF-8";
@import url('./style-guide.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* max-width: 100vw; */
    margin: 0 auto;
    max-width: 360px;
    min-height: 100vh;
    font-family: var(--Font-Inter);
    font-weight: var(--Weights-400);
    padding: 0 1rem;
}

p {
    font-size: var(--Font-size);
    line-height: 1.5em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
}

header > .logo {
    width: 2.5em;
}

header > .logo > img {
    width: 100%;
}

header > nav {
    z-index: 50;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 65%;
    background-color: var(--Off-white);
    padding: 10rem 0 0 1rem;
    display: none;
    flex-direction: column;
    gap: 2rem;
}

header > nav.visible {
    display: flex;
}

header > nav > img {
    width: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

header > nav > a {
    text-decoration: none;
    color: black;
}

header > .menu {
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

main img {
    display: block;
    width: 100%;
}

main > h1 {
    margin-top: 1rem;
    font-weight: var(--Weights-800);
    font-size: 2.2em;
}

main > p {
    margin-top: 1rem;
    color: var(--Dark-grayish-blue);
}

main > p > a {
    display: block;
    margin-top: 1.5rem;
    background-color: var(--Soft-red);
    color: black;
    text-decoration: none;
    width: max-content;
    padding: .7em 2.2em;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: var(--Weights-700);
    transition: all .2s ease;
}

main > p > a:hover {
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
}

aside {
    margin-top: 3.5rem;
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    padding: 1rem;
}

aside > h2 {
    color: var(--Soft-orange);
    font-size: 2em;
}

aside > section {
    margin-top: 2rem;
}

aside > section:not(:last-child) {
    border-bottom: 1px solid var(--Grayish-blue);
    padding-bottom: 2rem;
}

aside > section > p {
    margin-top: .5em;
    color: var(--Grayish-blue);
}

footer {
    margin-top: 3rem;
}

footer > section {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 1rem;
    align-items: center;
}

footer > section:not(:first-child) {
    margin-top: 1.5rem;
}

/* footer > section > .image-section-footer {
    display: inline-block;
    width: 100px;
} */

footer > section > .image-section-footer > img {
    width: 100%;
}

footer > section > article > h2 {
    color: var(--Soft-red);
}

footer > section > article > h3 {
    margin: .7rem 0;
    font-size: 1em;
}

footer > section > article > p {
    color: var(--Dark-grayish-blue);
}

footer > section:last-child {
    margin-bottom: 5rem;
}