body {
    display: block;
}

.page {
    flex-flow: row-reverse;
    align-items: center;
    width: auto;
    gap: 0;
    position: relative;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding: 0 !important;
}

header img {
    display: block;
    height: 100vh;
}

main {
    width: 450px;
    margin: auto;
    text-align: left;
}