main {
    max-width: 100%;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extensions {
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    gap: 1rem;
    justify-content: center;
}

.box-extension {
    margin: 0;
}

/*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/