body {
    /*min-height: auto;*/
}

main {
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

main > h1 {
    text-align: left;
}

main > p {
    grid-column: 1;
    text-align: left;
}

main > .reviews {
    grid-column: 3;
    grid-row: 1/3;
}

main > .feedbacks {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}