body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

header {
    margin: 0;
    margin-left: 1.5rem;
    text-align: left;
    width: fit-content;
    max-width: 380px;
}

.sign-up {
    max-width: 800px;
    margin: 0;
    margin-right: 1.5rem;
}

.sign-up > button > p {
    width: fit-content;
}

.sign-up > .note > p {
    width: fit-content;
}