@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /**********/
    /* Colors */
    /**********/

    /* Primary */
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    
    /* Accent */
    --Blue: hsl(248, 32%, 49%);
    
    /* Neutral */
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    
    /**************/
    /* Typography */
    /**************/

    /* Body Copy */
    --Font-size: 16px;
    
    /* Font */
    --Font-Family: "Poppins", sans-serif;
    --Weight-400: 400;
    --Weight-500: 500;
    --Weight-600: 600;
    --Weight-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Font-Family);
    font-size: var(--Font-size);
    font-weight: var(--Weight-400);
    max-width: 100vw;
    min-height: 100vh;
    background-image: url(../images/bg-intro-mobile.png);
    background-color: var(--Red);
    background-size: cover;
}

header {
    color: white;
    text-align: center;
    width: Min(36ch, 31ch);
    margin: 3rem auto 2rem auto;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.514);
}

.sign-up {
    max-width: 320px;
    margin: 0 auto 3rem auto;
}

.sign-up > button {
    width: 100%;
    padding: 1rem;
    border-radius: .7rem;
    border-width: 0;
    box-shadow: 0 .5rem .2rem rgba(0, 0, 0, 0.233);
    background-color: var(--Blue);
    color: white;
    transition: all 100ms ease;
}

.sign-up > button:active {
    box-shadow: none;
    transform: scale(0.99);
}

.sign-up > button > p {
    width: Max(23ch);
    margin: 0 auto;
    line-height: 1.5em;
    box-shadow: 0 0 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.466);
}

.sign-up > form {
    background-color: white;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem .5rem 0 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.sign-up > form > .box-input {
    position: relative;
    animation: .2s linear 0s alternate error;
    animation-iteration-count: 2;
    animation-play-state: paused;
}

@keyframes error {
    25% {
        transform: translateX(.5rem);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-.5rem);
    }

    100% {
        transform: translateX(0);
    }
}

.sign-up > form > .box-input > input {
    width: 100%;
    padding: 1rem;
    border-radius: .4rem;
    border-width: 0;
    border: 1px solid var(--Grayish-Blue);
}

.sign-up > form > .box-input > input::placeholder{
    color: var(--Dark-Blue);
    opacity: .5;
}

.sign-up > form > .box-input > img {
    display: none;
    width: 1em;
    position: absolute;
    top: calc(50% - 1em);
    right: .5rem;
}

.sign-up > form > .box-input > p {
    display: none;
    text-align: right;
    font-size: .6em;
    color: var(--Red);
    font-weight: var(--Weight-500);
    font-style: italic;
    margin-top: .3em;
}

.sign-up > form > .button {
    background-color: var(--Green);
    color: white;
    border-width: 0;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: .4rem;
    box-shadow: 0 .2rem 0 hsl(154, 57%, 44%);
    transition: all 100ms ease;
}

.sign-up > form > .button:hover {
    opacity: .8;
}

.sign-up > form > .button:hover:active {
    box-shadow: 0 0 0;
    transform: scale(0.99);
}

.sign-up > .note {
    background-color: white;
    padding: 0 1rem 1rem 1rem;
    border-radius: 0 0 .5rem .5rem;
    text-align: center;
    font-size: .7em;
    box-shadow: 0 .5rem .2rem rgba(0, 0, 0, 0.233);
}

.sign-up > .note > p {
    width: Max(35ch);
    margin: 0 auto;
    color: var(--Grayish-Blue);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.171);
}

.sign-up > .note > p > a {
    text-decoration: none;
    color: var(--Red);
    font-weight: var(--Weight-600);
}