@charset "UTF-8";

:root {
    /**********/
    /* Colors */
    /**********/

    /* Primary */
    --color-primary-Purple-500: hsl(259, 100%, 65%);
    --color-primary-Red-400: hsl(0, 100%, 67%);
    
    /* Neutral */
    --color-neutral-White: hsl(0, 100%, 100%);
    --color-neutral-Grey-100: hsl(0, 0%, 94%);
    --color-neutral-Grey-200: hsl(0, 0%, 86%);
    --color-neutral-Grey-500: hsl(0, 1%, 44%);
    --color-neutral-Black: hsl(0, 0%, 0%);
    
    /**************/
    /* Typography */
    /**************/

    /* Body Copy */
    --font-size-inputs: 32px;
    
    /* Font */
    --font-poppins: "Poppins", sans-serif;
    --font-Weights-400i: 400i;
    --font-Weights-700: 700;
    --font-Weights-800i: 800i;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    line-height: 1em;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-family: var(--font-poppins);
    font-weight: 700;
    background-color: var(--color-neutral-Grey-100);
    display: grid;
    place-items: center;
    padding: 1rem;
}

.calculator {
    width: 320px;
    background-color: var(--color-neutral-White);
    border-radius: 1.5rem 1.5rem 5rem 1rem;
    padding: 4rem 1rem;
}

.calculator > form > .inputs {
    display: grid;
    grid-template: 1.2em 3rem 1.2em / repeat(3, 5.7rem);
    justify-content: space-between;
}

form > .inputs > label {
    font-size: .7em;
    color: var(--color-neutral-Grey-500);
}

form > .inputs > input {
    grid-row: 2;
    border: 1px solid var(--color-neutral-Grey-200);
    border-radius: .2rem;
    font-size: 1.2em;
    padding-left: .5em;
    font-weight: var(--font-Weights-700);
    caret-color: var(--color-primary-Purple-500);
}

form > .inputs > input.none {
    border-color: var(--color-primary-Red-400);
}

form > .inputs > input:focus {
    outline-color: var(--color-primary-Purple-500);
}

form > .inputs > input::placeholder {
    color: var(--color-neutral-Grey-500);
    font-weight: var(--font-Weights-700);
    font-size: 1.2em;
}

form > .inputs > .messageError {
    display: none;
    grid-row: 3;
    font-size: .6em;
    color: var(--color-primary-Red-400);
    margin-top: .2em;
    font-style: italic;
    font-weight: 400;
}

form > .inputs > .messageError.one {
    grid-column-start: 1;
}

form > .inputs > .messageError.two {
    grid-column-start: 2;
}

form > .inputs > .messageError.tree {
    grid-column-start: 3;
}

form .button {
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
}

form hr {
    border-color: var(--color-neutral-Grey-100);
    border-style: solid;
}

form button {
    position: absolute;
    top: 0;
    left: 50%;
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary-Purple-500);
    width: 3rem;
    height: 3rem;
    transition: background-color .2s ease;
    transform: translate(-50%, -50%);
    animation: .5s linear 0s activebtn ;
}

@keyframes activebtn {
    0% {
        background-color: var(--color-neutral-Black);
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(720deg);
    }
}

form button.spin-accelerate {
    animation: spinAccelerate 0.7s cubic-bezier(0.4,0,0.7,1.2) both;
}

@keyframes spinAccelerate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        animation-timing-function: cubic-bezier(0.4,0,0.7,1.2);
    }
    30% {
        transform: translate(-50%, -50%) rotate(90deg);
    }
    60% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(1080deg);
    }
}

form button:hover {
    background-color: var(--color-neutral-Black);
}

form button > img {
    width: 1.5rem;
    height: 1.5rem;
}

.time-passed {
    font-size: 3em;
    font-style: italic;
    font-weight: 800;
}

.time-passed strong {
    color: var(--color-primary-Purple-500);
}